Practica3/ImageWSServletClient/src/conf/xml-resources/web-service-references/ImageWS/wsdl/localhost_8080/ImageWSApplication/ImageWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://image.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://image.me.org/" name="ImageWS">
<types>
<xsd:schema>
<xsd:import namespace="http://image.me.org/" schemaLocation="http://localhost:8080/ImageWSApplication/ImageWS?xsd=1"/>
</xsd:schema>
</types>
<message name="RegistrerImage">
<part name="parameters" element="tns:RegistrerImage"/>
</message>
<message name="RegistrerImageResponse">
<part name="parameters" element="tns:RegistrerImageResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="ListImages">
<part name="parameters" element="tns:ListImages"/>
</message>
<message name="ListImagesResponse">
<part name="parameters" element="tns:ListImagesResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<message name="DeleteImage">
<part name="parameters" element="tns:DeleteImage"/>
</message>
<message name="DeleteImageResponse">
<part name="parameters" element="tns:DeleteImageResponse"/>
</message>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<portType name="ImageWS">
<operation name="RegistrerImage">
<input wsam:Action="http://image.me.org/ImageWS/RegistrerImageRequest" message="tns:RegistrerImage"/>
<output wsam:Action="http://image.me.org/ImageWS/RegistrerImageResponse" message="tns:RegistrerImageResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://image.me.org/ImageWS/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://image.me.org/ImageWS/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="ModifyImage">
<input wsam:Action="http://image.me.org/ImageWS/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://image.me.org/ImageWS/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="ListImages">
<input wsam:Action="http://image.me.org/ImageWS/ListImagesRequest" message="tns:ListImages"/>
<output wsam:Action="http://image.me.org/ImageWS/ListImagesResponse" message="tns:ListImagesResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://image.me.org/ImageWS/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://image.me.org/ImageWS/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
<operation name="DeleteImage">
<input wsam:Action="http://image.me.org/ImageWS/DeleteImageRequest" message="tns:DeleteImage"/>
<output wsam:Action="http://image.me.org/ImageWS/DeleteImageResponse" message="tns:DeleteImageResponse"/>
</operation>
<operation name="SearchbyCreaDate">
<input wsam:Action="http://image.me.org/ImageWS/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://image.me.org/ImageWS/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://image.me.org/ImageWS/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://image.me.org/ImageWS/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
</portType>
<binding name="ImageWSPortBinding" type="tns:ImageWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegistrerImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImageWS">
<port name="ImageWSPort" binding="tns:ImageWSPortBinding">
<soap:address location="http://localhost:8080/ImageWSApplication/ImageWS"/>
</port>
</service>
</definitions>